/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

 #admin_pass, #pass_confirm, #keyname, #email, #id_deploy_option1, #id_deploy_option2{
    width: 300px;
}

#ips_yaml {
    width: 555px;
}

#launch {
    bottom: 10px;
    left: 10px;
}
